.home h2 {
  color: #494949;
  padding: 2rem 0 1rem;
  text-align: center;
}

.memories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.memory {
  flex: 1 1 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.memory img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.search-input {
  width: 400px;
  margin-top: 1.5rem;
  position: relative;
  left: 40%;
  padding: 0.5rem;
}
