.fav-btn {
  cursor: pointer;
  position: absolute;
  top: 42%;
  right: 36%;
  z-index: 1;
}

.fav-btn:active {
  animation: fillHeart 0.3s;
}

.heart {
  cursor: pointer;
  fill: #000;
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 0 0.5rem rgb(32, 17, 20));
}

.filled {
  width: 32px;
  height: 32px;
  fill: rgb(207, 45, 45);
  stroke: #f08b8b;
  stroke-width: 1px;
  filter: drop-shadow(0 0 0.25rem crimson);
}

@keyframes fillHeart {
  from {
    transform: scale(1, 1.1);
  }
  to {
    transform: scale(1.3, 1.5);
  }
}
